@import "../components/game.css";

/* ________________ BEGIN LEFT PANEL ________________ */

#edit-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    max-width: var(--edit-panel-width);
    width: 25%;
    min-width: 25%;
}

#edit-panel-home-page-container {
    margin: 20px 0;
    padding: 15px 0;
    background-color: var(--dark-black);
    width: 90%;
}

#edit-panel-home-page-text {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-weight: bold;
    color: var(--white);
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

#edit-panel-home-page-button {
    padding: 0;
    width: 50px;
    height: 50px;
}

#edit-panel-home-page-img {
    height: 40px;
    width: 40px;
}

#edit-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 100vh;
    width: 100%;
}

#edit-content {
    background-color: var(--dark-black);
    margin-bottom: 20px;
    width: 90%;
    padding: 20px;
}

#edit-row {
    margin-bottom: 10px;
}

#edit-name {
    margin-right: 5px;
}

#edit-save-button {
    width: 30%;
    margin-left: 5px;
}

#load-edit-container {
    width: 100%;
}

#swap-cell-container {
    background-color: var(--dark-black);
    width: 90%;
    padding: 20px 0;
    margin-bottom: 20px;
    filter: grayscale(1);
}

#swap-cell-container .swap-cell {
    width: 50px;
    padding: 8px;
    background: var(--dark-gray);
    margin: 8px;
    border-radius: 10px;
    transition: box-shadow var(--delay-short-animation), background-color var(--delay-short-animation);
}

#swap-cell-container .swap-cell:hover {
    cursor: pointer;
    background: var(--green);
    box-shadow: 0 0 20px 0 var(--green);
}

#robot-pieces-container {
    width: 90%;
    background-color: var(--dark-black);
    padding: 20px 0;
    margin-bottom: 20px;
}

#robot-pieces-container .robot-piece {
    width: 50px;
    padding: 8px;
    background: var(--dark-gray);
    margin: 8px;
    border-radius: 10px;
    transition: box-shadow var(--delay-short-animation), background-color var(--delay-short-animation);
    cursor: grab;
}

/* ________________ END LEFT PANEL ________________ */
