:root, :root:before, :root:after {
    --white: #ffffff;
    --black: #292929;
    --dark-black: #191919;
    --light-blue: #4752c4;
    --blue: #3c45a5;
    --orange: #f8c555;
    --green: #4f9d70;
    --light-green: #ceff98;
    --gray: #777777;
    --dark-gray: #424242;
    --red: #BD1616;
    --light-red: #FF2626;
    --pink: #8f5da3;
    --light-pink: #FFE6E6;

    --delay-short-animation : 0.5s;
    --delay-medium-animation : 1s;

    --edit-panel-width: 500px;

    --grid-width: 0px;
    --grid-height: 0px;
    --grid-cell-size: 0px;
    --grid-cell-gap: 0px;
    --grid-cell-gap-size: 0px;

    --robot-piece-size: 0px;

    --messaging-container-count: 0;
    --test: 0;
}