<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Ricochet Robots</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <script th:src="@{/libs/lz-string.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="icon" type="image/png" th:href="@{/asset/favicon.jpg}" />
    <script type="module" th:src="@{/js/Index.js}" defer></script>

<!--    <script src="../static/libs/lz-string.min.js"></script>-->

<!--    <link rel="stylesheet" href="../static/css/index.css">-->
<!--    <link rel="icon" type="image/png" href="../static/asset/favicon.jpg" />-->
<!--    <script src="../static/js/Index.js" defer></script>-->
</head>
<body>
    <div class="left-panel">
        <div id="switch-container">
            <div id="switch-title">Edit</div>
            <div id="switch-mode">
<!--                <img id="switch-mode-img" src="../static/asset/switch.png" alt="edit">-->
                <img id="switch-mode-img" th:src="@{/asset/switch.png}" alt="edit">
            </div>
        </div>

        <div id="left-panel-container">

            <div id="edit-container">
                <div id="edit-content">
                    <div class="edit-row">
                        <input type="text" name="title" id="edit-name" placeholder="Name">
                        <div id="save-edit" class="edit-button save-edit">Save</div>
                    </div>
                    <div class="edit-row">
                        <div id="load-edit-container" class="edit-button load-edit">
                            <div id="load-edit-text">Load</div>
                            <img id="load-edit-arrow" th:src="@{/asset/bottom-arrow.svg}" alt="bottom-arrow">
                            <div id="load-edit-items-container" class="hidden">
                                <div class="load-edit-item">Test</div>
                                <div class="load-edit-item">Test</div>
                                <div class="load-edit-item">Test</div>
                                <div class="load-edit-item">Test</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="swap-cell-container"></div>

                <div id="robot-pieces-container"></div>
            </div>

        </div>
    </div>

    <div class="main">
        <div id="game">
            <div id="grid"></div>
            <div id="walls"></div>
        </div>
    </div>

</body>
</html>